<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

    <style>
        .code-example {
            background: #f1f1f1;
            overflow: auto;
            font-family: 'Monaco', monospace;
            border: 1px solid #999
        }

        .section-title {
            margin-top: 3rem;
        }

    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Welcome to extrapypi server</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Go to <a href="{{ url_for('dashboard.index') }}">dashboard</a> to see all packages.
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="section-title">Uploading packages</h4>
            <p>Extrapypi is compliant with setuptools / twine, you just need to update your <code>.pypirc</code> like this:</p>
            <pre class="code-example">
<code>
[distutils]
index-servers =
    local

[local]
username=<span style="color: red">admin</span>
password=<span style="color: red">admin</span>
repository=http://<span style="color: red">mypypiurl.com</span>/simple/
</code>
</pre>
            <p><code>* Make sure to change username, password and repository to your own values.</code> </p>

            <p>And then you can run</p>
            <pre class="code-example">
<code>
python setup.py bdist_wheel upload -r local
</code>
</pre>

            <p>Or using twine</p>
            <pre class="code-example">
<code>twine upload -r local dist/extra_pypi-0.1-py3.5.egg</code>
</pre>

            <h4 class="section-title">Installing packages from extrapypi</h4>
            <p>Extrapypi is built to be used as an extra index, so you can simply run :</p>
            <pre class="code-example">
<code>pip install extrapypi --extra-index-url http://<span style="color: red">user</span>:<span style="color: red">password</span>@<span style="color: red">mypypiurl.com</span>/simple/</code>
</pre>
            <p>or directly updating your <code>pip.conf</code> file </p>
            <pre class="code-example">
<code>
[global]
extra-index-url = http://<span style="color: red">user</span>:<span style="color: red">password</span>@<span style="color: red">mypypiurl.com</span>/simple/
</code>
</pre>
            <p><code>* Make sure to change user, pass and mypypiurl.com to your own values.</code></p>
        </div>
    </div>
</div>
</body>
</html>