<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

    <style>
        .code-example {
            background: #f1f1f1;
            overflow: auto;
            font-family: 'Monaco', monospace;
            border: 1px solid #999
        }

        .section-title {
            margin-top: 3rem;
        }

    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Welcome to extrapypi server</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Go to the <a href="{{ url_for('dashboard.index') }}">dashboard</a> to see all packages.
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="section-title">Uploading packages</h4>
            <p>Extrapypi is compliant with setuptools / twine, you just need to update your <code>.pypirc </code> (this file is situated at your user home directory) like
                this:</p>
            <pre class="code-example">
<code>
[distutils]
index-servers =
    <span style="color: red">local</span>

[<span style="color: red">local</span>]
username=<span style="color: red">user</span>
password=<span style="color: red">password</span>
repository=http://<span style="color: red">mypypiurl.com</span>/simple/
</code>
</pre>
            <p><code>* Make sure to change user, password and repository to your own values.</code></p>

            <p>And then you can run</p>
            <pre class="code-example">
<code>
python setup.py bdist_wheel upload -r <span style="color: red">local</span>
</code>
</pre>

            <p>Or using twine</p>
            <pre class="code-example">
<code>twine upload -r <span style="color: red">local</span> dist/extra_pypi-0.1-py3.5.egg</code>
</pre>

            <h4 class="section-title">Installing packages from extrapypi</h4>
            <p>Extrapypi is built to be used as an extra index, so you can simply run :</p>
            <pre class="code-example">
<code>pip install <span style="color: red">private dependency</span> --extra-index-url http://<span style="color: red">user</span>:<span style="color: red">password</span>@<span
        style="color: red">mypypiurl.com</span>/simple/</code>
</pre>
            <p>or directly updating your <code>pip.conf</code> file </p>
<pre class="code-example">
<code>nano ~/.config/pip/pip.conf</code>
</pre>

            and then put:
            <pre class="code-example">
<code>
[global]
extra-index-url = http://<span style="color: red">user</span>:<span style="color: red">password</span>@<span
        style="color: red">mypypiurl.com</span>/simple/
</code>
</pre>
            <p><code>* Make sure to change user, pass and mypypiurl.com to your own values.</code></p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Using it with poetry </h4>
            <p>Tested with:</p>
            <ul>
                <li>Python 3.6</li>
                <li>Poetry 0.12.17</li>
            </ul>
            <div>
                <h6>Add the repo url to the poetry configuration</h6>
                <pre class="code-example">
<code>poetry config repositories.<span style="color: red">local</span> http://<span style="color: red">mypypiurl.com</span>/simple/</code>
</pre>
            </div>

            <div>
                <h6>For autentication just add</h6>
                <pre class="code-example">
<code>
poetry config http-basic.<span style="color: red">local</span> <span style="color: red">user</span> <span style="color: red">password</span>
</code>
</pre>
            </div>

            <div>
                <h6>Add to project.toml:</h6>
                <pre class="code-example">
<code>
[[tool.poetry.source]]
name = "<span style="color: red">local</span>"
url = "http://<span style="color: red">mypypiurl.com</span>/simple/"
secondary = true
</code>
</pre>
            </div>
            <p><code>* Make sure to change user, password, local and mypypiurl.com to your own values.</code></p>
        </div>
    </div>
</div>
</body>
</html>